name: Test

on: [push]

jobs:
  test:
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [ubuntu-latest, windows-latest, macOS-latest]
        python-version: ["3.8", "3.9", "3.10"]
    steps:
    - uses: actions/checkout@v2

    - name: Set up Python ${{ matrix.python-version }}
      uses: actions/setup-python@v2
      with:
        python-version: ${{ matrix.python-version }}

    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install -r requirements.txt

    # https://pylint.org/
    - name: Pylint - Code analysis
      run: |
        pip install pylint
        pylint --fail-under=8 $(ls *.py) 

    # http://mypy-lang.org/
    - name: Mypy - Static type checker
      run: |
        pip install mypy
        python -m mypy --ignore-missing-imports $(ls *.py) 

#    - name: Setuptools test
#      run: |
#        python setup.py test

    # https://flake8.pycqa.org/en/latest/
    - name: Flake8 - Style Guide Enforcement
      run: |
        pip install flake8 flake8-junit-report
        mkdir -p test-reports/flake8
        FLAKE_OPTIONS="--max-line-length=120 --max-complexity 8"
        FLAKE_IGNORE="--ignore E501,E501"
        FLAKE_OPTIONS+=" $FLAKE_IGNORE"
        flake8 --output-file=test-reports/flake8/flake8.txt $FLAKE_OPTIONS $(ls *.py)
        flake8_junit         test-reports/flake8/flake8.txt   test-reports/flake8/flake8_junit.xml

    - name: Safety - Vulnerabilities checking
      run: |
        pip install safety
        safety check

    - name: Unittest
      run: |
        python -m unittest

    - name: Pytest
      run: |
        pip install pytest
        pytest

    - name: Pytest Coverage
      run: |
        pip install pytest pytest-cov
        pytest --cov-report term-missing --cov=${src_dir}


